body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.user-wrapper{
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  gap: 40px;
  border-bottom: 1px solid #ffffff;
}
.container{
  max-width: 500px;
  margin: 0 auto;
}
body{
  font-family: "Arial Black";
  color: white;
  background-color: rgba(0, 0, 139, 0.58);
}
button{
  background-color: darkseagreen ;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

